<html>

<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.js"></script>
    <script type="module" src="/admin.js"></script>
    <link href="/layout.css" rel='stylesheet'>
    <title>Controller</title>
    <script>
        const exports = {};
    </script>
</head>

<body>
    <div class="search-box">
        <table id="table_id" class="display">
            <thead>
                <tr>
                    <th>이름</th>
                    <th>ID</th>
                    <th>URL</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#userIdAndUrlAndNicknames}}
                <tr class="user-row" id={{userNickname}}>
                    <td class="nickname-cell">
                        {{userNickname}}
                    </td>
                    <td class="userid-cell" id={{userId}}>
                        {{userId}}
                    </td>
                    <td class="url-cell" id={{overlayUrl}}>
                        {{overlayUrl}}
                    </td>
                    <td>
                        <button
                            class="socket-id-button"
                        >
                            선택
                        </button>
                    </td>
                </tr>
                 {{/userIdAndUrlAndNicknames}}
            </tbody>
        </table>
    </div>
    <div class="console-box">
        <h1 id="creator-name"> 
        </h1>
        <h6>
            연결상태 : 
            <span id="connection-status">
                크리에이터를 선택해주세요
            </span>
        </h6>
        <h2>
            화면 제어
        </h2>
        <div class="screen-control-box">
            <button id="screen-show-button" value="화면 띄우기">
                화면 띄우기
            </button>
            <button id="screen-hide-button" value="화면 숨기기" >
                화면 숨기기
            </button>
            <button id="logo-toggle-button" value="로고 색상 변경" >
                로고 색상 변경
            </button>
            <button id="bottom-area-toggle-button" value="하단 띠 토글">
                하단 띠 토글
            </button>
        </div>
        <div class="action-control-box">
            <h2>
                동작 제어
            </h2>
            <button id="show-intro-video-button" value="Intro 송출">
                Intro 송출
            </button>
            <button id="show-outro-video-button" value="Outro 송출">
                Outro 송출
            </button>
            <button id="hide-video-button" value="영상 비우기">
                영상 비우기
            </button>
            <button id="play-bgm-button" value="Outro 송출">
                BGM 재생
            </button>
            <button id="pause-bgm-button" value="Outro 종료">
                BGM 종료
            </button>
            <button id="refresh-button" value="새로고침">
                새로고침
            </button>
        </div>
        <div class="object-control-box">
            <h2>
                목표 제어
            </h2>
            <div 
                class="datetime-picker"
            >
                <input 
                    type="datetime-local" 
                    id="end-time-picker"
                    />
                <button
                    id="end-time-send-button"
                >
                    시간 전송
                </button>
            </div>
            {{!-- <form>
                <input type="number" />
                <button
                >
                    목표 전송
                </button>
            </form> --}}

        </div>
    </div>
    <div class="message-box">
        <h2>
            메세지 제어
        </h2>
        <form>
            <fieldset>
                <legend>메세지 입력</legend>
                기준 금액 <input type="number" id="standard-price"><br>
                상품명 : <input type="text" id="product-name"><br>
                구매액 : <input type="number" id="sold-price"><br>
                구매자 : <input type="text" id="customer-nickname"><br>
                메세지 : <input type="text" id="customer-message"><br>
                선물하기 여부 : 
                <input type="radio" id="gift-radio-no" name="gift" value="no" checked>
                    <label for="gift-radio-no">NO</label>
                <input type="radio" id="gift-radio-yes" name="gift" value="yes">
                    <label for="gift-radio-yes">YES</label>
                <br>
                전화 이벤트 : 
                <input type="radio" id="event-radio-no" name="event" value="no" checked>
                    <label for="event-radio-no">NO</label>
                <input type="radio" id="event-radio-yes" name="event" value="yes">
                    <label for="event-radio-yes">YES</label>
                <br>
                <button id="message-button" type="submit">제출하기</button>
            </fieldset>
        </form>
    </div>
    <div class="dashboard">
        <h2>
            지표
        </h2>
    </div>
</body>

</html>